<!DOCTYPE html>
<html lang="en">
    <head><title>Your Heresy Is {{ page.h }}</title></head>
    <body>
        <h1>Your Heresy Is <em>{{ page.h }}</em></h1>
        {{ content }}
        <nav>
            <ul>
                <li><a href="/">Read about other Heresies</a></li>
            </ul>
        </nav>
        <footer>
            <p><small>If you are interested in contributing please contact <a href="mailto:the-laity@yourheresyis.info">the laity</a>
                or <a href="https://github.com/the-laity/yourheresyis.info">submit a pull request</a>.</small></p>
        </footer>
    </body>
</html>